version: '3.7'
services:
  db:
    build:
      context: .
      dockerfile: dockerfiles/db/Dockerfile
    env_file:
      - .docker-env/dev/db.env
    volumes:
      - ./dbdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      app_network:
#  memcached:
#    container_name: todo_memcahed
#    build:
#      context: .
#      dockerfile: dockerfiles/memcahed
#    command: memcached -m 128
  web:
    restart: always
    build:
      context: .
      dockerfile: dockerfiles/web/Dockerfile
    env_file:
      - .docker-env/dev/db.env
    volumes:
      - ./app:/app
      - ./config/pip/requirements.txt:/tmp/requirements.txt
    depends_on:
      - db
    ports:
      - "8000:8000"
#    command: uwsgi --ini /etc/uwsgi.ini
    command: python manage.py runserver 0.0.0.0:8000

    networks:
      app_network:
  nginx:
    volumes:
      - ./app:/app
    build:
      context: .
      dockerfile: dockerfiles/nginx/Dockerfile
    depends_on:
      - web
    ports:
      - "8080:8080"
    networks:
      app_network:

networks:
   app_network: